div{
  width: 100px;
  height: 100px;

}

.relative{
  background-color: blue;
  /*margin-top:100px;*/
  /*position: relative;*/
  left: 50%;
  right: 50%;
}

.absolute{
  background-color: indigo;
  position: absolute;
  left:50%;
  right: 50%;

}
